h4,.content_date{
    text-align: center;
    margin:  20px 0;
}
h4{
    padding-top: 30px;
}
.content_date{
    color: rgb(150, 150, 150);
}

.content_t2,.content_bottom{
    width: 1350px;
    margin: 0 auto;
}

.content_bottom #content_left{
    margin-left: 32px;
}

.content{
    height: 1200px;
}
#content_right{
    margin-top: 30px;
}
#content_right img{
    width: 350px;
    height: 230px;
}